<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
    <!-- <img id="left" src="istockphoto-894875516-612x612.jpg"style="width:60px;height:60px;">
    <img id="right" src="istockphoto-894875516-612x612.jpg"style="width:60px;height:60px;">
    <img id="back" src="istockphoto-894875516-612x612.jpg"style="width:60px;height:60px;"> -->
    <div class="left">
        <p id="leftsafe">left safe</p>
        <p id="leftdanger">left danger</p>
    </div>
    <div class="right">
        <p id="rightsafe">right safe</p>
        <p id="rightdanger">right danger</p>
    </div>
    <div class="back">
        <p id="backsafe">back safe</p>
        <p id="backdanger">back danger</p>
    </div>
    
    
    <script type="text/javascript">
	
	function start() {
  // your code here
  
var myjson;
	$.getJSON("http://192.168.0.20:5000/", function(data){
	console.log("***UPDATE***")
    console.log(data.l)
    //console.log(data.color2)
    //console.log(data.color3)
    //pickColor = data.color;
    if(data.l<=10){
    	document.getElementById("leftdanger").style.display="block";
    	document.getElementById("leftsafe").style.display="none";
    }
    else{
    	document.getElementById("leftdanger").style.display="none";
    	document.getElementById("leftsafe").style.display="block";
    }



    //document.addEventListner("keypress", function(event))
});

    setTimeout(start, 500);
}

// boot up the first call
start();

</script>
    

</body>
</html>
